In [2]:
from sklearn import datasets, preprocessing, feature_selection
from sklearn.datasets import make_classification 
from itertools import compress

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Dataset

In [135]:
x, y = make_classification (
    n_samples = 1000,
    n_features = 20,
    n_informative = 5,
    n_redundant = 5,
    n_repeated = 5,
    shuffle=False
)

In [136]:
dataset = pd.DataFrame(x)
dataset.columns = [
    "informative_A", "informative_B", "informative_C", "informative_D", "informative_E",
    "redundant_A", "redundant_B", "redundant_C", "redundant_D", "redundant_E",
    "repeated_A", "repeated_B", "repeated_C", "repeated_D", "repeated_E",
    "unknown_A", "unknown_B", "unknown_C", "unknown_D", "unknown_E",
]
# dataset['label'] = y

dataset.head

<bound method NDFrame.head of      informative_A  informative_B  informative_C  informative_D  \
0         0.943855      -1.054713      -0.841387      -1.236275
1         1.092852      -0.971155       0.224618      -1.210616
2        -0.846573      -2.052410       0.439504      -1.123570
3         2.445098      -0.909242      -1.652367      -0.252601
4         1.483974      -1.323591      -0.791550      -0.816074
..             ...            ...            ...            ...
995      -1.746810      -0.458258       3.548924       1.400707
996       1.231223       0.413204       1.618317       0.153790
997      -1.948979       0.715473       0.718710       1.118586
998      -1.186788       2.094947       0.416085       0.496707
999      -1.491687       0.564075       1.792855       1.010074

     informative_E  redundant_A  redundant_B  redundant_C  redundant_D  \
0        -0.653083     2.561001     1.378807     1.922562     0.308260
1        -1.759133     1.750785    -0.046843     3.858226    -1.061491
2        -0.604583     1.856330    -1.293340     1.841956    -0.544952
3        -2.297380     2.682278     0.682410     2.569285     0.593231
4        -1.468793     2.443079     0.572449     2.669397     0.341463
..             ...          ...          ...          ...          ...
995      -2.268761    -3.720877    -6.930273     2.483267    -3.402597
996       0.496274    -2.075142     0.887194     1.895398     0.475377
997      -0.924891    -1.717019    -3.807887    -1.434821    -2.227662
998      -3.402538    -1.017319    -4.296767     1.024448    -5.261469
999      -2.012270    -2.315030    -4.896288     0.930303    -3.297033

     redundant_E  repeated_A  repeated_B  repeated_C  repeated_D  repeated_E  \
0       0.787262   -1.054713    2.561001    2.561001   -1.236275    0.787262
1       0.473013   -0.971155    1.750785    1.750785   -1.210616    0.473013
2       1.487624   -2.052410    1.856330    1.856330   -1.123570    1.487624
3      -0.943680   -0.909242    2.682278    2.682278   -0.252601   -0.943680
4       0.446188   -1.323591    2.443079    2.443079   -0.816074    0.446188
..           ...         ...         ...         ...         ...         ...
995    -0.898564   -0.458258   -3.720877   -3.720877    1.400707   -0.898564
996     1.884356    0.413204   -2.075142   -2.075142    0.153790    1.884356
997    -2.618232    0.715473   -1.717019   -1.717019    1.118586   -2.618232
998    -5.706389    2.094947   -1.017319   -1.017319    0.496707   -5.706389
999    -2.464082    0.564075   -2.315030   -2.315030    1.010074   -2.464082

     unknown_A  unknown_B  unknown_C  unknown_D  unknown_E
0     1.287928   0.502563  -0.074745   1.781211   0.150903
1    -1.066131  -0.141818  -0.200431   0.903576   1.638036
2    -0.280449   0.285408  -0.505179   0.902336   0.031863
3     1.990130  -1.299336  -0.626604   0.805699  -0.577875
4     0.799227  -1.381791  -0.858151  -1.027342   0.291769
..         ...        ...        ...        ...        ...
995   0.702095  -0.401373   0.785525   0.665676  -0.031135
996  -1.142060  -0.153849   0.251467   0.259807   1.072711
997   0.685019   0.278678  -0.047269   0.127619   1.108823
998  -0.502450  -0.436800  -1.187312   0.472042   0.661165
999  -0.215290  -0.242800   0.524315   1.028384   0.483694

[1000 rows x 20 columns]>

In [137]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   informative_A  1000 non-null   float64
 1   informative_B  1000 non-null   float64
 2   informative_C  1000 non-null   float64
 3   informative_D  1000 non-null   float64
 4   informative_E  1000 non-null   float64
 5   redundant_A    1000 non-null   float64
 6   redundant_B    1000 non-null   float64
 7   redundant_C    1000 non-null   float64
 8   redundant_D    1000 non-null   float64
 9   redundant_E    1000 non-null   float64
 10  repeated_A     1000 non-null   float64
 11  repeated_B     1000 non-null   float64
 12  repeated_C     1000 non-null   float64
 13  repeated_D     1000 non-null   float64
 14  repeated_E     1000 non-null   float64
 15  unknown_A      1000 non-null   float64
 16  unknown_B      1000 non-null   float64
 17  unknown_C      1000 non-null   float64
 18  unknown_D      1000 non-null   float64
 19  unknown_E      1000 non-null   float64
dtypes: float64(20)
memory usage: 156.4 KB

In [138]:
dataset.head()

,informative_A,informative_B,informative_C,informative_D,informative_E,redundant_A,redundant_B,redundant_C,redundant_D,redundant_E,repeated_A,repeated_B,repeated_C,repeated_D,repeated_E,unknown_A,unknown_B,unknown_C,unknown_D,unknown_E
0,0.943855,-1.054713,-0.841387,-1.236275,-0.653083,2.561001,1.378807,1.922562,0.308260,0.787262,-1.054713,2.561001,2.561001,-1.236275,0.787262,1.287928,0.502563,-0.074745,1.781211,0.150903
1,1.092852,-0.971155,0.224618,-1.210616,-1.759133,1.750785,-0.046843,3.858226,-1.061491,0.473013,-0.971155,1.750785,1.750785,-1.210616,0.473013,-1.066131,-0.141818,-0.200431,0.903576,1.638036
2,-0.846573,-2.052410,0.439504,-1.123570,-0.604583,1.856330,-1.293340,1.841956,-0.544952,1.487624,-2.052410,1.856330,1.856330,-1.123570,1.487624,-0.280449,0.285408,-0.505179,0.902336,0.031863
3,2.445098,-0.909242,-1.652367,-0.252601,-2.297380,2.682278,0.682410,2.569285,0.593231,-0.943680,-0.909242,2.682278,2.682278,-0.252601,-0.943680,1.990130,-1.299336,-0.626604,0.805699,-0.577875
4,1.483974,-1.323591,-0.791550,-0.816074,-1.468793,2.443079,0.572449,2.669397,0.341463,0.446188,-1.323591,2.443079,2.443079,-0.816074,0.446188,0.799227,-1.381791,-0.858151,-1.027342,0.291769

# Feature selection

In [171]:
def get_selected_data(selector, dataset):
    cols_idxs = selector.get_support(indices=True)
    return dataset.iloc[:, cols_idxs]

## Low variance

In [199]:
from sklearn.feature_selection import VarianceThreshold

varThreshold = VarianceThreshold(threshold=(1.5))
dataset_removed_low_var = varThreshold.fit_transform(dataset)

dataset_removed_low_var = get_selected_data(varThreshold, dataset)
dataset_removed_low_var

# varThreshold.variances_
# varThreshold.get_support()

,informative_A,informative_B,informative_C,informative_D,informative_E,redundant_A,redundant_B,redundant_C,redundant_D,redundant_E,repeated_A,repeated_B,repeated_C,repeated_D,repeated_E
0,0.943855,-1.054713,-0.841387,-1.236275,-0.653083,2.561001,1.378807,1.922562,0.308260,0.787262,-1.054713,2.561001,2.561001,-1.236275,0.787262
1,1.092852,-0.971155,0.224618,-1.210616,-1.759133,1.750785,-0.046843,3.858226,-1.061491,0.473013,-0.971155,1.750785,1.750785,-1.210616,0.473013
2,-0.846573,-2.052410,0.439504,-1.123570,-0.604583,1.856330,-1.293340,1.841956,-0.544952,1.487624,-2.052410,1.856330,1.856330,-1.123570,1.487624
3,2.445098,-0.909242,-1.652367,-0.252601,-2.297380,2.682278,0.682410,2.569285,0.593231,-0.943680,-0.909242,2.682278,2.682278,-0.252601,-0.943680
4,1.483974,-1.323591,-0.791550,-0.816074,-1.468793,2.443079,0.572449,2.669397,0.341463,0.446188,-1.323591,2.443079,2.443079,-0.816074,0.446188
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,-1.746810,-0.458258,3.548924,1.400707,-2.268761,-3.720877,-6.930273,2.483267,-3.402597,-0.898564,-0.458258,-3.720877,-3.720877,1.400707,-0.898564
996,1.231223,0.413204,1.618317,0.153790,0.496274,-2.075142,0.887194,1.895398,0.475377,1.884356,0.413204,-2.075142,-2.075142,0.153790,1.884356
997,-1.948979,0.715473,0.718710,1.118586,-0.924891,-1.717019,-3.807887,-1.434821,-2.227662,-2.618232,0.715473,-1.717019,-1.717019,1.118586,-2.618232
998,-1.186788,2.094947,0.416085,0.496707,-3.402538,-1.017319,-4.296767,1.024448,-5.261469,-5.706389,2.094947,-1.017319,-1.017319,0.496707,-5.706389
999,-1.491687,0.564075,1.792855,1.010074,-2.012270,-2.315030,-4.896288,0.930303,-3.297033,-2.464082,0.564075,-2.315030,-2.315030,1.010074,-2.464082

## Linear regression

In [204]:
from sklearn.feature_selection import SelectKBest, f_regression, mutual_info_regression, mutual_info_classif

selectKBest = SelectKBest(f_regression, k=5)
selectKBest.fit(dataset_removed_low_var, y)

dataset_linear_reg = get_selected_data(selectKBest, dataset_removed_low_var)
dataset_linear_reg

     informative_A  informative_C  redundant_B  redundant_D  repeated_C
0         0.943855      -0.841387     1.378807     0.308260    2.561001
1         1.092852       0.224618    -0.046843    -1.061491    1.750785
2        -0.846573       0.439504    -1.293340    -0.544952    1.856330
3         2.445098      -1.652367     0.682410     0.593231    2.682278
4         1.483974      -0.791550     0.572449     0.341463    2.443079
..             ...            ...          ...          ...         ...
995      -1.746810       3.548924    -6.930273    -3.402597   -3.720877
996       1.231223       1.618317     0.887194     0.475377   -2.075142
997      -1.948979       0.718710    -3.807887    -2.227662   -1.717019
998      -1.186788       0.416085    -4.296767    -5.261469   -1.017319
999      -1.491687       1.792855    -4.896288    -3.297033   -2.315030

[1000 rows x 5 columns]

In [206]:
selectKBest = SelectKBest(mutual_info_classif, k=5)
selectKBest.fit(dataset_removed_low_var, y)

dataset_linear_reg_2 = get_selected_data(selectKBest, dataset_removed_low_var)
dataset_linear_reg_2

     informative_A  redundant_C  redundant_D  repeated_B  repeated_C
0         0.943855     1.922562     0.308260    2.561001    2.561001
1         1.092852     3.858226    -1.061491    1.750785    1.750785
2        -0.846573     1.841956    -0.544952    1.856330    1.856330
3         2.445098     2.569285     0.593231    2.682278    2.682278
4         1.483974     2.669397     0.341463    2.443079    2.443079
..             ...          ...          ...         ...         ...
995      -1.746810     2.483267    -3.402597   -3.720877   -3.720877
996       1.231223     1.895398     0.475377   -2.075142   -2.075142
997      -1.948979    -1.434821    -2.227662   -1.717019   -1.717019
998      -1.186788     1.024448    -5.261469   -1.017319   -1.017319
999      -1.491687     0.930303    -3.297033   -2.315030   -2.315030

[1000 rows x 5 columns]

In [208]:
selectKBest = SelectKBest(mutual_info_regression, k=5)
selectKBest.fit(dataset_removed_low_var, y)

dataset_linear_reg_2 = get_selected_data(selectKBest, dataset_removed_low_var)
dataset_linear_reg_2

     informative_A  redundant_C  redundant_D  repeated_B  repeated_C
0         0.943855     1.922562     0.308260    2.561001    2.561001
1         1.092852     3.858226    -1.061491    1.750785    1.750785
2        -0.846573     1.841956    -0.544952    1.856330    1.856330
3         2.445098     2.569285     0.593231    2.682278    2.682278
4         1.483974     2.669397     0.341463    2.443079    2.443079
..             ...          ...          ...         ...         ...
995      -1.746810     2.483267    -3.402597   -3.720877   -3.720877
996       1.231223     1.895398     0.475377   -2.075142   -2.075142
997      -1.948979    -1.434821    -2.227662   -1.717019   -1.717019
998      -1.186788     1.024448    -5.261469   -1.017319   -1.017319
999      -1.491687     0.930303    -3.297033   -2.315030   -2.315030

[1000 rows x 5 columns]

In [209]:
for count, score in enumerate(selectKBest.scores_):
    print(str(count) + ": ", score)

0:  0.09969580102780018
1:  0.010463172655679642
2:  0.06712065036823311
3:  0.0009112725906605945
4:  0.030760229573425946
5:  0.07443087601434151
6:  0.01015582736916354
7:  0.14114658102252164
8:  0.08723838299362274
9:  0.011750826195810582
10:  0.010463172655679642
11:  0.07443087601434151
12:  0.07443087601434151
13:  0.0009112725906605945
14:  0.011750826195810582

## Linear regression and regularization

In [220]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import LassoCV

clf = LassoCV()

fromModelSelector = SelectFromModel(clf, threshold=0.1)
fromModelSelector.fit(dataset_removed_low_var, y)
n_rows, n_features = fromModelSelector.transform(dataset_removed_low_var).shape

print(n_rows, n_features)
while n_features > 2:
    sfm.threshold += 0.05
    dataset_new = sfm.transform(dataset_removed_low_var)
    n_rows, n_features = dataset_new.shape
    
    feature_names = compress(dataset_removed_low_var.feature_names, fromModelSelector.get_support())
    print(f'Threshold={sfm.threshold} Num features: {n_features}, {list(feature_names)}')

1000 0

C:\ProgramData\Anaconda3\envs\data-mining\lib\site-packages\sklearn\feature_selection\_base.py:96: UserWarning: No features were selected: either the data is too noisy or the selection test too strict.
  warnings.warn(

## Recursive feature selection